html, body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template: 200px repeat(3, 1fr) / 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content"
        "sidebar main-content"
        "sidebar main-content";
}

/* Icons */
.icon {
    position: relative;
    top: 5px;
    margin-right: 4px;
    width: 28px;
}

.icon-large {
    position: relative;
    top: 1rem;
    width: 42px;
}

.icon.search {
    top: 8px;
}

/* Header */
.header {
    background-color: #fff;
    grid-area: header;
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
    justify-items: start;
    align-items: center;
}

.header > .search {
    margin-left: 1rem;
}

.search #search-box {
    min-width: 400px;
    height: 24px;
    border: transparent;
    border-radius: 16px;
    background-color: #dbdada;
}

.header > .profile-big {
    margin-left: 1.5rem;
}

.header .user-name {
    display: inline-block;
}

button {
    padding: 8px 24px;
    color: #fff;
    background-color: #5dbeff;
    border: transparent;
    border-radius: 16px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    background-color: #5dbeff;
    grid-area: sidebar;
    color: #fff;
}

.sidebar h2 {
    margin-bottom: 64px;
}

.dashboard-links ul li {
    padding: 0;
    margin: 1rem;
    text-align: left;
    list-style-type: none;
}

.dashboard-links ul li a{
    text-decoration: none;
    color: #fff;
}

/* Main content */
.main-content {
    background-color: #dbdada;
    grid-area: main-content;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "projects annoucements"
    "projects trending";
}

.projects {
    background-color: #dbdada;
    grid-area: projects;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects .card {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    width: 320px;
    height: 200px;
    flex-shrink: 0;
    margin: 12px;
    text-align: left;
    padding: 8px;
    -webkit-box-shadow: 10px 8px 20px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 10px 8px 20px -12px rgba(66, 68, 90, 1);
    box-shadow: 10px 8px 20px -12px rgba(66, 68, 90, 1);
}

.projects .card h4 {
    margin: 0;
}

.annoucements {
    background-color: #fff;
    grid-area: annoucements;
    margin: 12px 12px 0 0;
    padding: 8px;
    text-align: left;
    border-radius: 8px;
    -webkit-box-shadow: 10px 8px 20px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 10px 8px 20px -12px rgba(66, 68, 90, 1);
    box-shadow: 10px 8px 20px -12px rgba(66, 68, 90, 1);
}

.annoucements div {
    border-bottom: 1px solid #dbdada;
}

.trending {
    background-color: palegreen;
    grid-area: trending;
    margin: 12px 12px 0 0;
}