body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    margin: 16px auto;
    padding: 8px;
    border-bottom: 2px solid #757775;
    width: 300px;
}

.container {
    display: grid;
    grid-template: repeat(3, 60px) / repeat(3, 80px);
    border: 1px solid transparent;
    max-width: fit-content;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.block {
    cursor: pointer;
    background-color: #cfcfcf;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.x::after {
    content: 'X';
}

.o::after {
    content: 'O';
}

.block:not(.disabled):hover {
    background: #969595;
}

.disabled {
    cursor: not-allowed;
}

.reset-button {
    margin: 16px auto;
    padding: 8px 24px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #ec5151;
    cursor: pointer;
}

.reset-button:hover {
    background: #d38282;
}