@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

/* navigation-header */

.navigation-header {
    height: 400px;
    background-color: #1F2937;
}

.header-logo {
    padding: 10px;
    margin-left: 48px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul{
    list-style-type: none;
    padding:0;
    display: inline-flex;
    flex: 1;
    justify-content: flex-end;
}

nav ul li{
    padding: 1em;
}

a {
    font-size: 18px;
    color:#E5E7EB;
    text-decoration: none;
}

/* .information-header */ 

#information {
	background-color: #fff;
	height: 400px;
}

.information-header h2 {
	font-size: 36px;
	color: #1F2937;
	font-weight: extra-bold;
	text-align: center;
}

/* .flex-container */

.flex-container {
	display: flex;
	justify-content: center;
	gap: 2em;
}

div.flex-item {
	display: flex;
	flex-shrink: 0;
	border: 2px solid #3882F6;
	border-radius: 8px;
	width: 150px;
	height: 150px;
}

p.flex-item {
	text-align: center;
	display: flex;
	width: 150px;
}
